# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Others
*.sqlite3
*.db
*.bak
*.tmp
*.swp